:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --bgColor: hsl(220, 10%, 94%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --h2FontSize: 1.25rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.activitySection {
  padding: 1vh;
  margin: 2vh 0;
  background-color: var(--bgColor);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  max-width: 900px;
}

.EarningsGraph h2 {
  font-size: var(--h2FontSize);
  color: var(--blackColor);
  font-weight: bold;
  margin-bottom: 1vh;
}

.EarningsGraph label {
  display: inline-block;
  margin-right: 1vh;
}

.EarningsGraph input[type="date"] {
  width: 55%;
  margin-right: 1vh;
  padding: 5px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.EarningsGraph button {
  
  padding: 5px 10px;
  background-color: var(--PrimaryColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1vh;
}

.EarningsGraph button:hover {
  background-color: #bdf094;
  color: hsl(93, 22%, 41%);
  border: 1px solid hsl(94, 59%, 19%);
  cursor: pointer;
}

canvas {
  width: 100vh; 
  height: auto; 
  max-width: 100%;
  max-height: 100vh;
}

.EarningsGraph.date-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vh;
}
